*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --blue-color: #0c2f54;
  --dark-color: #535b61;
  --white-color: #fff;
}

ul {
  list-style-type: none;
}

ul li {
  margin: 2px 0;
}

.text-dark {
  color: var(--dark-color);
}
.text-blue {
  color: var(--blue-color);
}

.text-end {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-start {
  text-align: left;
}

.text-bold {
  font-weight: 700;
}

.hr {
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);
}

.border-bottom {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

body {
  font-family: sans-serif;
  color: var(--dark-color);
  background-color: rgba(0, 0, 0, 0.1);
  font-size: 14px;
}

.invoice-wrapper {
  min-height: 100vh;

  padding-top: 20px;
  padding-bottom: 20px;
}

.invoice {
  max-width: 850px;
  margin-right: auto;
  margin-left: auto;
  background-color: var(--white-color);
  padding: 70px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  min-height: 920px;
}

.invoice-head-top-left img {
  width: 130px;
}

.invoice-head-top-right h3 {
  font-weight: 500;
  font-size: 27px;
  color: #0c2f54;
}

.invoice-head-middle,
.invoice-head-bottom {
  padding: 16px 0;
}

.invoice-body {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  overflow: hidden;
}

.invoice-body table {
  border-collapse: collapse;
  border-radius: 4px;
  width: 100%;
}

.invoice-body table td,
.invoice-body table th {
  padding: 12px;
}

.invoice-body table tr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.invoice-body table thead {
  background-color: rgba(0, 0, 0, 0.1);
}

.invoice-body-info-item {
  display: grid;
  grid-template-columns: 80% 20%;
}

.invoice-body-info-item .info-item-td {
  padding: 12px;
  background-color: rgba(0, 0, 0, 0.1);
}

.invoice-foot {
  padding: 30px 0;
}

.invoice-btns {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.invoice-btn {
  padding: 3px 9px;
  margin-right: 10px;
  color: #535b61;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.invoice-head-top,
.invoice-head-middle,
.invoice-head-bottom {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-bottom: 10px;
}

@media screen and (max-width: 992px) {
  .invoice {
    padding: 40px;
  }
}

@media screen and (max-width: 576px) {
  .invoice-head-top,
  .invoice-head-middle,
  .invoice-head-bottom {
    grid-template-columns: repeat(1, 1fr);
  }

  .invoice-head-bottom-right {
    margin-top: 12px;
    margin-bottom: 12px;
  }
  .invoice * {
    text-align: left;
  }
  .invoice {
    padding: 28px;
  }
}

.overflow-view {
  overflow-x: scroll;
}

.invoice-body {
  min-width: 600px;
}

/* form css */

.input-wrapper {
  max-width: 500px;
  width: 100%;
  background-color: #fff;
  margin: 20px auto;
  padding: 30px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.12);
}

.input-wrapper .title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 25px;
  text-transform: uppercase;
  text-align: center;
}

.input-wrapper .form {
  width: 100%;
}

.input-wrapper .form .input_field {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.input-wrapper .form .input_field label {
  width: 200px;
  margin-right: 10px;
  font-size: 14px;
}

.input-wrapper .form .input_field .input {
  width: 100%;
  outline: none;
  border: 1px solid gray;
  font-size: 15px;
  padding: 8px 10px;
  border-radius: 3px;
}

.preview-btn {
  width: 100%;
  padding: 8px 10px;
  font-size: 15px;
  border: 0;
  cursor: pointer;
  border-radius: 3px;
  outline: none;
}

.transaction-table {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin-top: 20px;
  overflow: hidden;
}

.transaction-table table {
  border-collapse: collapse;
  border-radius: 4px;
  width: 100%;
}

.transaction-table {
  overflow-x: scroll;
}

.transaction-table table td,
.transaction-table table th {
  padding: 12px;
}

.transaction-table table tr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.transaction-table table thead {
  background-color: rgba(0, 0, 0, 0.1);
}

.pdfview {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 420px) {
  .input-wrapper .form .input_field {
    flex-direction: column;
    align-items: flex-start;
  }
  .input-wrapper .form .input_field label {
    margin-bottom: 5px;
  }
}

@media print {
  .print-area {
    visibility: visible;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
  }

  .overflow-view {
    overflow-x: hidden;
  }

  .invoice-btn {
    display: none;
  }
}

@page {
  margin: 0;
}
